#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  /* Background image */
  background-image: url('/bg2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: rgb(230, 215, 215); /* Text color for readability */
  min-height: 100vh; /* Ensure it covers full screen height */
}

